<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Integrated_AI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Integrated_AI.Properties.Settings>
            <setting name="theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="autoDiff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoRestore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showStatusLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectedChatUrl" serializeAs="String">
                <value>"https://aistudio.google.com/prompts/new_chat"</value>
            </setting>
            <setting name="useSmartCommands" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deleteOldRestores" serializeAs="String">
                <value>True</value>
            </setting>
        </Integrated_AI.Properties.Settings>
    </userSettings>
</configuration>